# Ignore build folders
.build/
build/
inputs/
models/
libs/
cache/
openai_whisper-*/
external_build/
build_android/
build_linux/
inc/libavcodec/
inc/libavformat/
inc/libavutil/
inc/libswresample/
inc/SDL3/
inc/flatbuffers/

# MacOS specific
.DS_Store

# QNN Specific
QnnTFLiteDelegate.h

# test
json/
