# Ignore build folders
.build/
build/
inputs/
models/
libs/
cache/
build_android/
build_x86/
inc/libavcodec/
inc/libavformat/
inc/libavutil/
inc/libswresample/
inc/SDL3/
.workspace/

# MacOS specific
.DS_Store

# QNN Specific
QnnTFLiteDelegate.h
