
# Ignore build folders
.source/
build/
inputs/
models/
cache/
external/
test/dataset/

.vscode/

# Never exclude src files
!WhisperKit/**
!cli/**

# MacOS specific
.DS_Store

### Android ###
# IntelliJ IDEA project files
.idea/
*.iml
*.ipr
*.iws
out/

# Model folder (too large)
androidApp/app/src/main/assets/openai_whisper-tiny/

# Gradle files and caches
.gradle/
local.properties

# Native build outputs (e.g., C++/JNI)
.cxx/

# Heap dump files
*.hprof

# Log files
*.log